.title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin: 0;
    margin-top: 20px;

    color: #4B4949;
    &_left {
        font-size: 40px;
        text-align: left;
        color: white;
    }
}