@import 'blocks/menu';
@import 'blocks/main';
@import 'blocks/catalog';
@import 'blocks/present';
@import '_buttons.scss';
@import 'blocks/consultation';
@import '_titles.scss';
@import 'blocks/forms';

* {
    font-family: 'PT Sans', sans-serif;
}
body {
    margin: 0;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}