.consultation {
    min-height: 400px;
    padding: 30px 0 50px 0;
    background: url("../img/bg_2.svg") center (center/cover) no-repeat;

    &__descr {
        margin-top: 30px;
        color: #ffffff;
        font-size: 20px;
        text-align: left;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: white;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}