.main {
    min-height: 400px;
    background: url("../img/bg_1.svg") center (center/cover) no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    &__header {
        margin: 0;

        font-style: italic;
        font-weight: bold;
        font-size: 60px;
        text-align: center;

        color: #FFFFFF;
    }
   
    &__number {
        display: block;
        font-style: italic;
        font-weight: bold;
        font-size: 28px;
        line-height: 62px;
        text-align: center;
        margin: 0 auto;
        text-decoration: none;
        margin-top: 50px;

        color: #FFFFFF;
    }
    &__button {
        display: block;
        width: 220px;
        height: 60px;
        background: #A2EEFF;
        border-radius: 8px;
        border: none;
        margin: 0 auto;
        margin-top: 10px;

        font-style: italic;
        font-weight: bold;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.7s all;

        &:hover {
            box-shadow: 1px 1px 20px white;
        }
    }
}
.logo {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;

    color: #FFFAFA;
    
}